

body {
    background-image: url('https://cdn.glitch.global/9d775c29-2bca-4026-b0e6-5b4dcde1af72/wallpaper.jpg?v=1700504207621');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}


#loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 1s ease-out;
}

#loading-animation img {
    width: 100px;
    animation: bounceAndFly 2s ease forwards;
}

@keyframes bounceAndFly {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(-100vh); }
}


.profile-card {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    text-align: center;
    width: 298px;
    padding-top: 41px;
    padding-bottom: 52px;
    padding-left: 20px;
    padding-right: 20px;
    backdrop-filter: blur(5px);
    color: #f8f8f8;
    transition: transform 0.3s ease;
}

.profile-card h3, .profile-card p {
    margin: 15px 0;
    transition: color 0.3s ease;
}

.social-media a i, .social-media a iconify-icon {
    font-size: 28px;
    margin: 0 12px;
    color: #f8f8f8;
    transition: color 0.4s ease;
    margin-top: 24px;
}

.profile-card p:hover {
    color: #e6e6e6;
}

.profile-card .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #000;
    transition: transform 0.5s ease;
}

.profile-card .avatar img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.profile-card .avatar {
    position: relative;
    display: inline-block;
}

.age-text {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.5s ease;
    background-color: #f8f8f8;
    color: #000;
    padding: 5px 10px;
    border-radius: 15px;
    user-select: none;
}

.age-text.visible {
    opacity: 1;
    user-select: text; 
}

/* Supprimé pour ne pas afficher au survol */
.avatar:hover .age-text, .avatar:focus .age-text {
    opacity: 1;
    left: 150%;
    top: 10%;
} */

.social-media {
    margin-top: 30px;
}

.social-media i, .social-media iconify-icon {
    font-size: 28px;
    margin: 0 12px;
}

.social-media a {
    margin: 5px;
    color: #f8f8f8;
}

.social-media a:hover i, .social-media a:hover iconify-icon {
    transition: color 0.4s ease;
    color: #5865F2;
}

/* GitHub */
.social-media a[href*="github.com"]:hover iconify-icon {
    color: #e6edf3;
}

/* Discord */
.social-media a[href*="discord.com"]:hover iconify-icon {
    color: #5865F2;
}

/* Osu */
.social-media a[href*="osu.ppy.sh"]:hover iconify-icon {
    color: #FF66AA;
}

/* AniList */
.social-media a[href*="anilist.co"]:hover iconify-icon {
    color: #02A9FF;
}

.made-with-love {
    font-size: 10px; /* Taille de police réduite */
    color: #f8f8f8; /* Couleur claire */
    position: fixed; /* Fixé en bas de la fenêtre du navigateur */
    bottom: 10px; /* Positionné à 10px du bas */
    left: 50%; /* Centré horizontalement */
    transform: translateX(-50%); /* Centrage précis avec la transformation */
    text-align: center; /* Texte centré */
    z-index: 1000; /* S'assurer qu'il est au-dessus des autres éléments */
}

#snow-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
}

@keyframes fall {
    to {
        transform: translate(-100vw, 100vh);
        opacity: 0;
    }
}

.transition-page {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease;
    z-index: 100;
}

.transition-page.osu {
    background-color: #ff66aa;
}

.transition-page.anilist {
    background-color: #2E51A2;
}

.transition-page.discord {
    background-color: #5865F2;
}

.transition-page.github {
    background-color: #333;
}

@media (max-width: 600px) {
    .profile-card {
        width: 313px;
    }
}

@media (max-width: 300px) {
    .profile-card {
        width: 313px;
    }
}